/* Custom Stylesheet */
/**
 * orange: #F3B315   black:#1D1D1D    white:#EDEDED
 */















*{padding:0; margin:0;font-family: 'Roboto', sans-serif; }

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;    
}

body{
	scroll-behavior: smooth;    
	position: relative; 
    z-index: -999; 
}
.red_box{
	width: 100px;
	height: 40px;
	background-color: red;
}




/* ************************************************************************************** /*
/*text*/

#lorem_ipsum1{
	padding-right: 3em;text-align: left;
}
#para1{
	padding-right: 3em;
}
#seiko_lenses_2nd_text{
	margin-bottom: 2.2em; 
}
#para2{
	padding-right: 3em;
}

/*small*/
@media only screen and (min-width: 0px){
#para3{
	padding: 1em; padding-left: 1em;
}
#para4{
	padding: 1em; padding-left: 1em;
}
#para5{
	padding: 1em; padding-left: 1em;
}
#para1{
	padding-right: 3em;
}
}

/*medium*/
@media only screen and (min-width: 601px){
#para3{
	padding: 1em; 
}
#para4{
	padding: 1em;
}
#para5{
	padding: 1em;
}
#para1{
	padding-right: 0em;
}
}

/*large*/
@media only screen and (min-width: 993px){
#para3{
	padding: 1em; text-align: left;
}
#para4{
	padding: 1em;text-align: left;
}
#para5{
	padding: 1em;text-align: left;
}
#para1{
	padding-right: 3em;
}
}






#find_text{
	margin-bottom: 2.2em; 
}
#para6{
	padding-right: 3em;
}
#para7{
	padding-right: 3em;
}
#america_text{
    position: relative; top:-170px; left: 0px;
}
#emea_text{
	position: relative; top:-170px;left: 0px;
}

#asia_text{
	position: relative; top:-170px;left: 0px;
}

#america_number{
	color:#D4900A;font-size:2em;text-shadow: 1px 1px #FFD155;
}
#america_under_text{
	font-weight: bold;color: black;
}
#emea_number{
	color:#D4900A;font-size:2em;text-shadow: 1px 1px #FFD155;
}
#emea_under_text{
	font-weight: bold;color: black;
}
#asia_number{
	color:#D4900A;font-size:2em;text-shadow: 1px 1px #FFD155;
}
#asia_under_text{
	font-weight: bold; color: black;
}















/* ************************************************************************************** /*
/*Headings*/

#big_logo_header{
	font-size:3.5em; margin-right: 0.4em; 
}
#second_logo_text{
    display:inline-block; vertical-align: middle; margin-bottom:1em;
}

#header_black_orange_border{
	background-color: #1D1D1D; 
	color:#EDEDED; padding:0; margin:0; 
	border-bottom:1px solid #F3B315;

}
/*small*/
@media only screen and (min-width: 0px){
	#headline{
	  color:#EDEDED;position: absolute; top: 15vh; left: 10vw;

	}
	#firstquote{
		position: relative;
		left:-40px;
		font-size: 2em;
		color:#F3B315;
		display:inline-block;
	}
	#see_it{
		position: relative;
		left:-40px;
		display:inline-block;
		font-size: 2em; 
	}
	#precisely{
		font-size:0.5em;
		display:inline-block;
		font-size: 2em;
	}
	#secondquote{
		position: relative;
		left:0px; 
		top:13px;
		color:#F3B315;
		display:inline-block;
		font-size: 2em;
	}
}

/*medium*/
@media only screen and (min-width: 601px){
	#headline{
	  color:#EDEDED;position: absolute; top: 17vh; left: 0;

	}
	#firstquote{
		position: relative;
		left:-15px;
		font-size: 2em;
		color:#F3B315;
		display:inline-block;
	}
	#see_it{
		position: relative;
		left:-15px;
		display:inline-block;
		font-size: 2em; 
	}
	#precisely{
		font-size:0.5em;
		display:inline-block;
		font-size: 2em;
	}
	#secondquote{
		position: relative;
		left:0px; 
		top:13px;
		color:#F3B315;
		display:inline-block;
		font-size: 2em;
	}
}

/*large*/
@media only screen and (min-width: 993px){
	#headline{
	  color:#EDEDED;position: absolute; top: 55vh; left: 0;

	}
	#firstquote{
		position: relative;
		left:-15px;
		font-size: 4em;
		color:#F3B315;
		display:inline-block;
	}
	#see_it{
		position: relative;
		left:-15px;
		display:inline-block;
		font-size: 4em; 
	}
	#precisely{
		font-size:0.5em;
		display:inline-block;
		font-size: 4em;
	}
	#secondquote{
		position: relative;
		left:0px; 
		top:13px;
		color:#F3B315;
		display:inline-block;
		font-size: 4em;
	}
}




#seikobrand_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#below_seikobrand_heading{
	margin-bottom: 2.2em; 
}
#second_heading_seiko{
	font-size:1.2em; 
}
#what{
	font-size:1.5em; border-bottom: 1px solid #F3B315; 
}
#isprecision{
	font-size:1.5em;
}
#frames_lenses_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#seiko_frames_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#seiko_frames_second_heading{
	margin-bottom: 2.2em;
}
#glasses_titanium_heading{
	display: inline-block;vertical-align: middle;margin-top: 2em;
}
#glasses_curved_heading{
	display: inline-block;vertical-align: middle;margin-top: 2em;
}



#inside_titanium{
	color:#F3B315;font-size:2em;
}
#inside_curved{
	color:#F3B315;font-size:2em;
}
#inside_starvision{
	color:#F3B315;font-size:2em;
}
#inside_s2{
	color:#F3B315;font-size:2em;
}


/*small*/
@media only screen and (min-width: 0px){
#inside_titanium{
	color:#F3B315;font-size:1em;
}
#inside_curved{
	color:#F3B315;font-size:1em;
}
#inside_starvision{
	color:#F3B315;font-size:1em;
}
#inside_s2{
	color:#F3B315;font-size:1em;
}
}

/*medium*/
@media only screen and (min-width: 601px){
#inside_titanium{
	color:#F3B315;font-size:2em;
}
#inside_curved{
	color:#F3B315;font-size:2em;
}
#inside_starvision{
	color:#F3B315;font-size:2em;
}
#inside_s2{
	color:#F3B315;font-size:2em;
}
}

/*large*/
@media only screen and (min-width: 993px){
#inside_titanium{
	color:#F3B315;font-size:1.5em; 
}
#inside_curved{
	color:#F3B315;font-size:1.5em;
}
#inside_starvision{
	color:#F3B315;font-size:1.5em;
}
#inside_s2{
	color:#F3B315;font-size:1.5em;
}
}


#glasses_starvision_heading{
	display: inline-block;vertical-align: middle;margin-top: 2em;
}
#glasses_s2_heading{
	display: inline-block;vertical-align: middle;margin-top: 2em;
}
#seiko_lenses_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#lens1_heading{
	padding-left:1em; color:#F3B315;display:inline-block;font-size:1em;padding-top: 2em;
}
#lens2_heading{
	padding-left:1em; color:#F3B315;display:inline-block;font-size:1em;padding-top: 2em;
}
#lens3_heading{
	padding-left:1em; color:#F3B315;display:inline-block;font-size:1em;padding-top: 2em;
}
#select_country_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#find_opt_heading{
	color:#F3B315;display:inline-block; padding-bottom:0.5em; font-size:2.5em;
}
#find_americas_heading{
	font-weight: bold;
}
#find_asia_heading{
	font-weight: bold; 
}
#find_emea_heading{
	font-weight: bold;
}
#help_how_heading{
	font-size:1.9em; border-bottom: 1px solid #F3B315;color:#F3B315; 
}
#help_can{
	font-size:1.9em; color:#F3B315;
}
#help_can1{
	font-size:1.9em; color:#F3B315;
}
#footer_heading1{
	color:#EDEDED;display:inline-block; 
	padding-bottom:0.1em; font-size:2.5em;
}
#footer_heading2{
	color:#EDEDED;display:inline-block; 
	padding-bottom:0.5em; 
	font-size:0.7em;
}
.footer_span_headings{
	font-weight:bold; color:#EDEDED;
}







/* ************************************************************************************** /*
/*section containers*/
#seiko_brand{
width:100vw;
}
#frames_lenses{
	width:100vw;  background-color:lightgrey;
}
#seiko_lenses{
	width:100vw; background-color:lightgrey;
}
#country_select{
	width:100vw; margin: 0; background-color:#1B1B1B;
}
#find_optician{
	width:100vw;
}
#find_country_opt{
	width:100vw;
}
#help_container{
	width:100vw; background-color:lightgrey
}
#footer{
	width:100vw; margin: 0; padding:0 ;background-color:#1D1D1D;
}



#read_box div img{
	max-height: 250px;
}






/* ************************************************************************************** /*
/*buttons*/

/*small*/
@media only screen and (min-width: 0px){
	#frames_lenses_button{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	font-size: 0.7em;
	min-height: 30px;
	padding-top: 0em; 
	padding-bottom: 0em; 
	padding-left: 2em; 
	padding-right:2em;
	margin: 0;
	border:none
	}
	#frames_lenses_button a{
	color: #1D1D1D ;
	}
	#frames_lenses_button:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	}
}

/*medium*/
@media only screen and (min-width: 601px){
	#frames_lenses_button{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	font-size: 1em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 1em; 
	padding-right:1em;
	border:none
	}
	#frames_lenses_button a{
	color: #1D1D1D;
	}
	#frames_lenses_button:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	}
}

/*large*/
@media only screen and (min-width: 993px){
#frames_lenses_button{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	font-size: 1em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 1em; 
	padding-right:1em;
	border:none;
	cursor: pointer;
	}
	#frames_lenses_button a{
	color: #1D1D1D ;
	}
	#frames_lenses_button:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
}
}



#find_optician1{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 1em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 2em; 
	padding-right:2em;
	border:none;
	cursor: pointer;
}
#find_optician1:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	color: #1D1D1D ;
}
#find_optician2{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	font-size: 1em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 2em; 
	padding-right:2em;
	border:none;
	cursor: pointer;
}
#find_optician2:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	color: #1D1D1D ;
}
#find_optician1 a{
	color: #1D1D1D;
}

#find_optician2 a{
	color: #1D1D1D;
}
#find_optician1 a:hover{
	color: #1D1D1D ;
}

#find_optician2 a:hover{
	color: #1D1D1D ;
}
#find_america{
	background-image: url(../media/find.jpg);
	background-size: cover;
    resize: both;
	background-repeat: no-repeat;
	width: 12em;
	height: 3em;

	font-size: 0.7em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 3em; 
	padding-right:3em;
	border:1px solid #F3B315;
	cursor: pointer;
}
#find_america:hover{
	background-image: url(../media/find2.jpg);
}

#find_emea{
	background-image: url(../media/find.jpg);
	background-size: cover;
    resize: both;
	background-repeat: no-repeat;
	width: 12em;
	height: 3em;

	font-size: 0.7em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 3em; 
	padding-right:3em;
	border:1px solid #F3B315;
	cursor: pointer;
}
#find_emea:hover{
background-image: url(../media/find2.jpg);
}

#find_asia{
	background-image: url(../media/find.jpg);
	background-size: cover;
    resize: both;
	background-repeat: no-repeat;
	width: 12em;
	height: 3em;

	font-size: 0.7em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 3em; 
	padding-right:3em;
	border:1px solid #F3B315;
	cursor: pointer;
}
#find_asia:hover{
background-image: url(../media/find2.jpg);
}


#find_america a{
	color: #1D1D1D;
}
#find_emea a{
	color: #1D1D1D;
}
#find_asia a{
	color: #1D1D1D;
}

#submit{
	background-image: url(../media/button_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	font-size: 1em;
	padding-top: 0.5em; 
	padding-bottom: 0.5em; 
	padding-left: 2em; 
	padding-right:2em;
	border:none;
	width: 85%;
	cursor: pointer;
}
#submit:hover{
	background-image: url(../media/button_bg_hover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color:#F3B315;*/
	
}
#submit a{
	color: #1D1D1D;
}
#submit a:hover{
	color: #9F5200;
}




/* ************************************************************************************** /*
/*icons*/
#loc_america{
color:#D4900A;
position: relative; 
top: -300px;
left: -100px;	
}

#loc_emea{
color:#D4900A;
position: relative; 
top: -300px;
left: 0px;	
}

#loc_asia{
color:#D4900A;
position: relative; 
top: -210px;
left: 130px;		
}











/* ************************************************************************************** /*
/*underlines*/
#branding_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 30%;
    width: 10%;
}
#branding_hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 47%;
    width: 5%;
}
#branding_hr2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 15%;
    width: 10%;
}
#branding_hr3 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 45%;
    width: 8%;
}
#branding_hr4 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 15%;
    width: 8%;
}
#branding_hr5 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3B315;
    margin-left: 45%;
    width: 8%;
}
#lenses_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F3B315;
    width: 10%;
}




/* ************************************************************************************** /*
/*country-list*/
.horizontal_line{
 color: #F3B315;
 display: inline;
}
















/* ************************************************************************************** /*
/*nav*/


/*small*/
@media only screen and (min-width: 0px){
	#nav_desk{
	background-color: rgba(128, 128, 128, 0.1);padding:0; margin:0; max-height: 64px;
	position: relative; 
    z-index: -999; 

	top: 0vh; 
	left: 0;
	}
}
/*medium*/
@media only screen and (min-width: 601px){
	#nav_desk{
	background-color: rgba(128, 128, 128, 0.1);padding:0; margin:0; max-height: 64px;
	position: relative; 
    z-index: -999; 

	top: 0vh; 
	left: 0;
}
/*large*/
@media only screen and (min-width: 993px){
	#nav_desk{
	background-color: rgba(128, 128, 128, 0.1);
	padding:0; 
	margin:0; 
	max-height: 40px;

	position: relative; 
    z-index: -999; 

	top: 0vh; 
	left: 0;
	}
}





/* ************************************************************************************** /*
/*Lists*/
 ul li a {
 	padding:0;
 	margin:0; 
 	color:#EDEDED;
 	padding-right:4em;
 	font-size: 0.9em;
 }
  ul li span{
 	display: block; height: 100%;width: 100%;
 }
 ul li a:hover {
 	color: #F3B315;
 }
 ul li span:hover {
 	border-top:  1px solid #F3B315;
 }

#terms{
	float:right; display: inline;
}
#terms li{
	display: inline;
}
#terms li a{
	padding-right: 0;
}



 #menu_list{
 	line-height:2.5em; 
	position: relative; 
    z-index: -999; 
 }
#countrylist1{
	color:#EDEDED; margin-left:3em;
}
#UL_HEADING1{
	font-weight:bold
}
#UL_HEADING2{
	font-weight:bold
}
#UL_HEADING3{
	font-weight:bold
}









/* ************************************************************************************** /*
/* full size image*/


/*small*/
@media only screen and (min-width: 0px){
	#index-banner{
	background-image: url('../media/first.jpg');
	background-size: contain;
    background-repeat: no-repeat;

   	height: 30em;
   	max-width: 100%;
    min-width: 500px;

	padding:0; 
    margin: 0;

    left: 0px; 
    top: 0px; 
    
    position: relative; 
    z-index: -999; 
}
}
/*medium*/
@media only screen and (min-width: 601px){
	#index-banner{
	background-image: url('../media/first.jpg');
	background-size: contain;
    background-repeat: no-repeat;

   	height: 50em;
   	max-width: 100%;
   	
	padding:0; 
    margin: 0;

    left: 0px; 
    top: 0px; 
    
    position: relative; 
    z-index: -999; 
}
}
/*large*/
@media only screen and (min-width: 993px){
	#index-banner{
	background-image: url('../media/first.jpg');
	background-size: cover;
    background-repeat: no-repeat;

   	width: 100vw;
   	height: 100vh;

	padding:0; 
    margin: 0;

    
    left: 0px; 
    top: 0px; 

    position: relative; 
    z-index: -999; 
}
}






/* ************************************************************************************** /*
/*small images*/

/*small*/
@media only screen and (min-width: 0px){
#brandimages1{
	max-width:200px;padding:0.5em; margin:0.5em;
}
#brandimages2{
	max-width:200px;padding:0.5em; margin:0.5em;
}
#brandimages3{
	max-width:200px;padding:0.5em; margin:0.5em;
}

}
/*medium*/
@media only screen and (min-width: 601px){
#brandimages1{
	max-width:210px;padding:0.5em; margin:0.1em;
}
#brandimages2{
	max-width:210px;padding:0.5em; margin:0.1em;
}
#brandimages3{
	max-width:210px;padding:0.5em; margin:0.1em;
}

}
/*large*/
@media only screen and (min-width: 993px){
#brandimages1{
	max-width:220px;padding:0.1em; margin:0.5em;
}
#brandimages2{
	max-width:220px;padding:0.1em; margin:0.5em;
}
#brandimages3{
	max-width:220px;padding:0.1em; margin:0.5em;
}
.row .col.l3 #glasses_titanium_heading{
    text-align: left;
}
.row .col.l3 #glasses_curved_heading{
    text-align: left;
}
.row .col.l3 #glasses_s2_heading{
    text-align: left;
}
.row .col.l3 #glasses_starvision_heading{
    text-align: left;
}
 .row .col.l3 #lens1_heading{
    text-align: left;
}
 .row .col.l3 #lens2_heading{
    text-align: left;
}
 .row .col.l3 #lens3_heading{
    text-align: left;
}
}



.row .col.l3 ul{
    text-align: left;
}
.row .col.l4 ul{
    text-align: left;
}
.row .col.l4 #footer_span_headings{
    text-align: left;
}
#footer_links1 li{
    text-align: left;
}
#footer_links2 li{
    text-align: left;
}
#footer_links3 li{
    text-align: left;
}


#reading_image{
	padding:0.5em; margin:0.5em; 
}
#glasses1{
	max-width: 90%;padding:0.5em; margin:0.5em;
}
#glasses2{
	max-width: 90%;padding:0.5em; margin:0.5em;
}
#glasses3{
	max-width: 90%;padding:0.5em; margin:0.5em;
}
#glasses4{
	max-width: 90%;padding:0.5em;margin:0.5em;
}
#lens1{
	max-width:170px; max-height: 120px; padding:0.5em; margin:0.5em;
}
#lens2{
	max-width:170px; max-height: 120px; padding:0.5em; margin:0.5em;
}
#lens3{
	max-width:170px; max-height: 120px; padding:0.5em; margin:0.5em;
}
#country_map{
	max-width:300px;padding:0.5em; margin:0.5em;
}

/*small*/
@media only screen and (min-width: 0px){
#america_img{
	max-width:70%;padding:0.5em; margin:0.5em;
}
#emea_img{
	max-width:70%;padding:0.5em; margin:0.5em;
}
#asia_img{
	max-width:70%;padding:0.5em; margin:0.5em;
}
}
/*medium*/
@media only screen and (min-width: 601px){
#america_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#emea_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#asia_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}

}
/*large*/
@media only screen and (min-width: 993px){
#america_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#emea_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#asia_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
}

#america_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#emea_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}
#asia_img{
	max-width:100%;padding:0.5em; margin:0.5em;
}


.orange_lines{
    position: relative;
    top: 0;
    left: 0;
}
























/* ************************************************************************************** /*
/*form*/

form span{
	font-weight:bold;
}
#comment_form{
	color:grey; font-weight: normal; font-size: 0.9em;
}
label{
	font-size: 1em; 
}
.input-field > label{
	color: #1D1D1D;
}
.input-field.col label {
    font-weight:bold;
}

.radiolabel{
	color: #1D1D1D;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #F3B315;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #F3B315;
}

[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:before, 
[type="radio"].with-gap:checked + span:after {
    border: 1px solid #1D1D1D;
}

.select-wrapper input.select-dropdown {
    width: 100%;
}


.select-wrapper input.select-dropdown {
    color: #F3B315;
}

#first_name{
    width: 95%;
}
#last_name{
	width: 95%;
}
#email{
	width: 95%;
}
#country1{
	max-width: 40%;
}



/* ************************************************************************************** /*
/*materialize overrides*/
#naw_row{
	position: relative; z-index: -999; 
}
#col_menu{
	position: relative; z-index: -999; 
}
#upper_col{
	position: relative; z-index: -999; 
}
#header_row{
	margin: 0; border:0; padding:0;     position: relative; z-index: -999; 
}
#logo_row{
	margin: 0; border:0; padding:0;
}
#inner_row_header{
	margin: 0; border:0; padding:0; height:100%;
}
#inner_col_header{
    line-height:2.5em; margin-top:2em; margin-bottom: 1em;
}
.row .col{
    padding: 0 !important;
}
#bg_image_row{
	margin: 0; border:0; padding:0;    position: relative; z-index: -999; 
}





[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}